---
layout: page
title: CSS
group: 'public'
---

<div class="e-example-wrap">

    <!-- Inputs start -->
    <h2>Inputs</h2>
    <p>A general description of the input fields</p>

    <div class="e-example-block">
        <div class="e-row">
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative inputs/default.html %}
                {% include_relative inputs/disabled.html %}
                {% include_relative inputs/readonly.html %}
            </div>
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative inputs/textarea.html %}
            </div>
        </div>
    </div>

    {% highlight html %}{% include_relative inputs/default.html %}{% endhighlight %}
    <!-- Inputs end -->


    <!-- Inputs sizing start -->
    <h2>Inputs sizing</h2>
    <p>A general description of the input fields sizing</p>

    <div class="e-example-block">
        <div class="e-row">
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative inputs/sizing.html %}
            </div>
        </div>
    </div>

    {% highlight html %}{% include_relative inputs/sizing.html %}{% endhighlight %}
    <!-- Inputs sizing end -->


    <!-- Checkboxes start -->
    <h2>Checkboxes</h2>
    <p>A general description of the checkboxes</p>

    <div class="e-example-block">
        <div class="e-row">
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative checkboxes/default.html %}

                {% include_relative checkboxes/disabled.html %}

                {% include_relative checkboxes/disabledChecked.html %}
            </div>
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative checkboxes/inverse.html %}

                {% include_relative checkboxes/disabled.html %}

                {% include_relative checkboxes/inverseDisabledChecked.html %}
            </div>
        </div>
    </div>

    <div class="e-row">
        <div class="e-col-sm-6 e-col-xs-12">
            {% highlight html %}{% include_relative checkboxes/default.html %}{% endhighlight %}
        </div>
        <div class="e-col-sm-6 e-col-xs-12">
            {% highlight html %}{% include_relative checkboxes/inverse.html %}{% endhighlight %}
        </div>
    </div>
    <!-- Checkboxes end -->

    <!-- Radio Buttons start -->
    <h2>Radio Buttons</h2>
    <p>A general description of the radio buttons</p>

    <div class="e-example-block">
        <div class="e-row">
            <div class="e-col-sm-6 e-col-xs-12">
                {% include_relative radio/default.html %}

                {% include_relative radio/disabled.html %}

                {% include_relative radio/disabledChecked.html %}
            </div>
        </div>
    </div>

    {% highlight html %}{% include_relative radio/default.html %}{% endhighlight %}
    <!-- Radio Buttons end -->

    <!-- Validation start -->
    <h2>Validation</h2>
    <p>A general description of the validation states</p>

    <div class="e-example-block">
        <div class="e-row">
            <div class="e-col-sm-4 e-col-xs-12">
                {% include_relative inputs/success.html %}
                {% include_relative inputs/warning.html %}
                {% include_relative inputs/danger.html %}
            </div>
            <div class="e-col-sm-8 e-col-xs-12">
                <div class="e-row">
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/defaultSuccess.html %}
                            {% include_relative checkboxes/defaultSuccessDisabled.html %}
                            {% include_relative checkboxes/defaultSuccessDisabledChecked.html %}
                        </div>
                    </div>
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/inverseSuccess.html %}
                            {% include_relative checkboxes/inverseSuccessDisabled.html %}
                            {% include_relative checkboxes/inverseSuccessDisabledChecked.html %}
                        </div>
                    </div>
                </div>
                <div class="e-row">
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/defaultWarning.html %}
                            {% include_relative checkboxes/defaultWarningDisabled.html %}
                            {% include_relative checkboxes/defaultWarningDisabledChecked.html %}
                        </div>
                    </div>
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/inverseWarning.html %}
                            {% include_relative checkboxes/inverseWarningDisabled.html %}
                            {% include_relative checkboxes/inverseWarningDisabledChecked.html %}
                        </div>
                    </div>
                </div>
                <div class="e-row">
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/defaultDanger.html %}
                            {% include_relative checkboxes/defaultDangerDisabled.html %}
                            {% include_relative checkboxes/defaultDangerDisabledChecked.html %}
                        </div>
                    </div>
                    <div class="e-col-sm-6 e-col-xs-12">
                        <div class="e-form-group">
                            {% include_relative checkboxes/inverseDanger.html %}
                            {% include_relative checkboxes/inverseDangerDisabled.html %}
                            {% include_relative checkboxes/inverseDangerDisabledChecked.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Validation end -->

    <!-- Buttons start -->
    {% include_relative buttons/index.html %}
    <!-- Buttons end -->

    <!-- Breadcrumbs start -->
    {% include_relative breadcrumb/index.html %}
    <!-- Breadcrumbs end -->

    <!-- Links start -->
    {% include_relative links/index.html %}
    <!-- Links end -->

    <!-- Headings start -->
    {% include_relative headings/index.html %}
    <!-- Headings end -->

    <!-- Paragraph start -->
    {% include_relative paragraph/index.html %}
    <!-- Paragraph end -->

    <!-- Table start -->
    {% include_relative table/index.html %}
    <!-- Table end -->

</div>
