
<section id="breadcrumb">
    <header>
        <h1>Headings</h1>
        <p>A general description of the headings</p>
    </header>
    <article>
        <!-- Headings start -->
        <h2>Example</h2>
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative headings/headings.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative headings/headings.html %}{% endhighlight %}
        <!-- Headings end -->
    </article>
</section>