@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'ProximaNova-Italic';
    src: url('../fonts/ProximaNova-Italic.ttf');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
