//
// Form groups
//

.e-form-group {
  margin-bottom: $e-form-group-margin-bottom;
}
.e-has-success {
    .e-text-muted {
        color: $e-brand-success;
    }
}
.e-has-warning {
    .e-text-muted {
        color: $e-brand-warning;
    }
}
.e-has-danger {
    .e-text-muted {
        color: $e-brand-danger;
    }
}