@if $enable-flex {  //TODO hack
  .form-control {
    min-width: 0;
  }
}
label {
  &.required:after {
    color: $brand-primary;
    content: '*';
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-left: 5px;
  }
}
.form-control-label {
  padding-left: 0;
  padding-right: 0;
}

.has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-left: ($input-height);
  }
}
// Feedback icon
.form-control-feedback {
  display: block;
  height: $input-height;
  left: $input-btn-border-width;
  line-height: $input-height;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: $input-btn-border-width;
  width: $input-height;
  z-index: 4; // Ensure icon is above input groups
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback {
  height: $input-height-lg;
  line-height: $input-height-lg;
  width: $input-height-lg;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback {
  height: $input-height-sm;
  line-height: $input-height-sm;
  width: $input-height-sm;
}