.sidenavWrap {
  background-color: #fefeff;
  background-clip: content-box;
  padding-bottom: 40px;
  transition-property: max-width, min-width, width;
  transition-duration: 300ms;
}
.sidenav {
  bottom: 0;
  font-size: 1.25rem;
  line-height: 1.25;
  max-width: 260px;
  overflow: auto;
  position: fixed;
  transition-property: max-width, width;
  transition-duration: 300ms;
  z-index: $zindex-modal;

  & > .nav {
    padding: 2rem 0;
    .nav {
      font-size: 81%;

      .nav-link {
        padding-left: 2.5rem;
      }

      .nav {
        .nav-link {
          padding-left: 3.5rem;
        }
      }
    }
  }

  .nav-link {
    display: block;
    padding: 4px 1.5rem;
    transition-property: padding, width;
    transition-duration: 300ms;
  }

  &.with-icons {
    .nav {
      .nav {
        .nav-link {
          padding-left: 3.5rem;

          .glyphicon {
            left: 2rem;
          }
        }
        .nav {
          .nav-link {
            padding-left: 4.25rem;

            .glyphicon {
              left: 3rem;
            }
          }
        }
      }
    }
    .nav-link {
      overflow: hidden;
      padding-left: 3rem;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;

      .glyphicon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition-property: left;
        transition-duration: 300ms;
      }
    }
  }
}
.sidenav-toggle {
  bottom: 0;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  position: fixed;
  left: 220px;
  z-index: 1;
  transition-property: left, transform;
  transition-duration: 300ms;
}

@mixin sideNav-small {
  &.sidenavWrap {
    max-width: 3rem !important;
    min-width: 3rem !important;
    width: 3rem !important;
  }
  .sidenav.with-icons {
    max-width: 3rem !important;
    width: 3rem !important;
    .nav-link {
      overflow: hidden;
      padding-left: 3rem !important;
      padding-right: 0 !important;
      width: 0;

      .glyphicon {
        left: 1rem !important;
      }
    }
  }
  .sidenav-toggle {
    transform: rotate(180deg);
    left: 0;
  }
}
%sideNav-small {
    @include sideNav-small;
}
.active {
  @extend %sideNav-small;
}
@media (max-width: 1023px) {
  @include sideNav-small;
  .active {
    .sidenav.with-icons {
      max-width: 275px !important;
      width: 275px !important;
      .nav-link {
        /*padding-left: 275px !important;*/
        padding-right: 1.5rem !important;
        width: 275px;

        .glyphicon {
          left: 1rem !important;
        }
      }
    }
    .sidenav-toggle {
      transform: rotate(0deg);
      left: 220px;
    }
    .sidenav-mask {
      opacity: 0.6;
      z-index: $zindex-modal-bg;
    }
  }
  .sidenav-mask {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    z-index: -1;
  }
}