.e-sidenavWrap {
    background-color: #fefeff;
    background-clip: content-box;
}
.e-sidenav {
    bottom: 0;
    font-size: 1.25rem;
    overflow: auto;
    padding: 1.5rem;
    position: fixed;

    .e-nav .e-nav {
        font-size: 81%;
        margin-left: 1.25rem;
    }

    .e-nav-link {
        display: block;
    }
}