<section id="breadcrumb">
    <header>
        <h1>Buttons</h1>
        <p>A general description of the buttons</p>
    </header>
    <article>
        <h2>Example</h2>
        <!-- Buttons start -->
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/buttons.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/buttons.html %}{% endhighlight %}
        <!-- Buttons end -->

        <!-- Buttons inverse start -->
        <h2>Buttons inverse</h2>
        <p>A general description of the buttons inverse</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/buttonsInverse.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/buttonsInverse.html %}{% endhighlight %}
        <!-- Buttons inverse end -->

        <!-- Buttons disabled start -->
        <h2>Buttons disabled</h2>
        <p>A general description of the buttons disabled</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/disabled.html %}
                </div>
            </div>
        </div>
        <!-- Buttons disabled end -->

        <!-- Buttons sizing start -->
        <h2>Buttons sizing</h2>
        <p>A general description of the buttons sizing</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/sizing.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/sizing.html %}{% endhighlight %}
        <!-- Buttons sizing end -->
    </article>
</section>
