---
layout: getting-started
title: Getting started
group: 'public'
positionInTopNavigation: 1
---

<div class="e-example-wrap">
    <section id="getting-started">
        <header>
            <h1>Getting started</h1>
            <p>An overview of Web UI Kit, including how to download and use it, some basic templates and examples, and more. </p>
        </header>
        <article>
            <!-- Introduction start -->
            <h2 id="getting-started-introduction">Introduction</h2>
            <p>Web UI Kit is an ELEKS framework for building responsive, mobile-first sites and applications. Inside you’ll find high quality HTML, CSS, and JavaScript to make starting any project easier than ever.</p>

            <h3 id="getting-started-quick-start">Quick start</h3>
            <p>Copy-paste the stylesheet <code>&lt;link&gt;</code> into your <code>&lt;head&gt;</code> before all other stylesheets to load our CSS.</p></p>

            {% highlight html %}{% include_relative introduction/addCss.html %}{% endhighlight %}

            <h3 id="getting-started-starter-template">Starter template</h3>
            <p>Be sure to have your pages set up with the latest design and development standards. That means:</p>
            <ul>
                <li>Using an HTML5 doctype</li>
                <li>Forcing Internet Explorer to use its latest rendering mode (<a href="http://stackoverflow.com/q/6771258" target="_blank">read more</a>)</li>
                <li>And using the viewport meta tag.</li>
            </ul>
            <p>Put it all together and your pages should look like this:</p>

            {% highlight html %}{% include_relative introduction/starterTemplate.html %}{% endhighlight %}
            <!-- Introduction end -->

            <!-- Options start -->
            <h2 id="getting-started-options">Customization options</h2>
            <p>Web UI Kit has a handful of global options for easily customizing all the components in your project. These options are handled by Sass variables. Simply change a variable’s value and recompile with the included Gulp file.</p>

            <h3 id="getting-started-available-variables">Available variables</h3>
            <p>You can find and customize these variables in our <code>_variables.scss</code> file.</p>

            <div class="e-example-block">
                <table class="e-table">
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>Values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>$e-spacer</code></td>
                            <td><code>1rem</code> (default), or any value &gt; 0</td>
                            <td>Specifies the default spacer value for our spacer utilities.</td>
                        </tr>
                        <tr>
                            <td><code>$e-enable-rounded</code></td>
                            <td><code>true</code> (default) or <code>false</code></td>
                            <td>Enables predefined <code>border-radius</code> styles on various components.</td>
                        </tr>
                        <tr>
                            <td><code>$e-enable-shadows</code></td>
                            <td><code>true</code> or <code>false</code> (default)</td>
                            <td>Enables predefined <code>box-shadow</code> styles on various components.</td>
                        </tr>
                        <tr>
                            <td><code>$e-enable-gradients</code></td>
                            <td><code>true</code> or <code>false</code> (default)</td>
                            <td>Enables predefined gradients via <code>background-image</code> various components.</td>
                        </tr>
                        <tr>
                            <td><code>$e-enable-transitions</code></td>
                            <td><code>true</code> (default) or <code>false</code></td>
                            <td>Enables predefined <code>transition</code>s on various components.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Options end -->


        </article>
    </section>
</div>
