<button class="e-btn e-btn-primary" type="button" disabled>Primary</button>
<button class="e-btn e-btn-secondary" type="button" disabled>Secondary</button>
<button class="e-btn e-btn-success" type="button" disabled>Success</button>
<button class="e-btn e-btn-info" type="button" disabled>Info</button>
<button class="e-btn e-btn-warning" type="button" disabled>Warning</button>
<button class="e-btn e-btn-danger" type="button" disabled>Danger</button>
<button class="e-btn e-btn-link" type="button" disabled>Link</button>
<button class="e-btn e-btn-primary-outline" type="button" disabled>All inverse disabled</button>