<button class="btn btn-primary" type="button" disabled>Primary</button>
<button class="btn btn-secondary" type="button" disabled>Secondary</button>
<button class="btn btn-success" type="button" disabled>Success</button>
<button class="btn btn-info" type="button" disabled>Info</button>
<button class="btn btn-warning" type="button" disabled>Warning</button>
<button class="btn btn-danger" type="button" disabled>Danger</button>
<button class="btn btn-link" type="button" disabled>Link</button>
<button class="btn btn-primary-outline" type="button" disabled>All inverse disabled</button>