<section id="buttons">
    <header>
        <h1>Buttons</h1>
        <p>Use custom button styles for actions in forms, dialogs, and so on. Our framework supports contextual variations, sizes, states, and more.</p>
    </header>
    <article>
        <h2 id="buttons-example">Example</h2>
        <p>ELEKS Web UI Kit contains six predefined button styles, and each of them serves its own semantic purpose.</p>

        <!-- Buttons start -->
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/buttons.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/buttons.html %}{% endhighlight %}
        <!-- Buttons end -->

        <!-- Buttons inverse start -->
        <h2 id="buttons-inverse">Inverse buttons</h2>
        <p>If you need a button without any coloring, replace the default modifier classes with the <code>.e-btn-*-outline</code> ones to remove all background images and colors on any button.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/buttonsInverse.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/buttonsInverse.html %}{% endhighlight %}
        <!-- Buttons inverse end -->

        <!-- Buttons disabled start -->
        <h2 id="buttons-disabled">Disabled buttons</h2>
        <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any <code>&lt;button&gt;</code> element.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/disabled.html %}
                </div>
            </div>
        </div>
        <!-- Buttons disabled end -->

        <!-- Buttons sizing start -->
        <h2 id="buttons-sizing">Buttons sizing</h2>
        <p>If you need larger or smaller buttons, add <code>.e-btn-lg</code> or <code>.e-btn-sm</code> for additional sizes.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative buttons/sizing.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative buttons/sizing.html %}{% endhighlight %}
        <!-- Buttons sizing end -->
    </article>
</section>
