<header class="e-navbar e-navbar-primary">
    <div class="e-container">
        <a href="{{site.baseurl}}" class="e-navbar-brand" target="_blank">
            <img src="{{ '/public/img/logo_white.png' | prepend: site.baseurl }}" alt="logo">
        </a>
        <ul class="e-nav e-nav-inline">
            {% for node in site.pages %}
                {% if 'public' == node.group %}
                    <li class="e-nav-item">
                        <a href="{{node.url | prepend: site.baseurl }}" class="e-nav-link{% if page.url == node.url %} active {% endif %}">{{node.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
