<header class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="{{site.baseurl}}" class="navbar-brand">
                    <img src="{{ '/public/img/logo_white.png' | prepend: site.baseurl }}" alt="logo">
                </a>
            </div>
            <div class="col-xs-9">
                <ul class="nav navbar-nav">
                    {% assign sorted_pages = (site.pages | sort: 'positionInTopNavigation') %}
                    {% for node in sorted_pages %}
                        {% if 'public' == node.group %}
                            <li class="nav-item">
                                <a href="{{node.url | prepend: site.baseurl }}" class="nav-link{% if page.url == node.url %} active {% endif %}">{{node.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
