<ul class="e-nav e-leftNav">
    <li class="e-nav-item">
        <a href="{{ "/css/#inputs" | prepend: site.baseurl }}" class="e-nav-link">Inputs</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#buttons" | prepend: site.baseurl }}" class="e-nav-link">Buttons</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#breadcrumb" | prepend: site.baseurl }}" class="e-nav-link">Breadcrumb</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#links" | prepend: site.baseurl }}" class="e-nav-link">Links</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#headings" | prepend: site.baseurl }}" class="e-nav-link">Headings</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#paragraphs" | prepend: site.baseurl }}" class="e-nav-link">Paragraphs</a>
    </li>
    <li class="e-nav-item">
        <a href="{{ "/css/#table" | prepend: site.baseurl }}" class="e-nav-link">Table</a>
    </li>
</ul>