.e-navbar {
    background-color: #0E559E;
    padding: 1em;
    display: flex;
}

.e-navbar-logo { align-self: center;}

.e-navbar-menu {
    flex-grow: 1;
    align-self: center;
    padding: 0 1em
}

.e-nav-link {
    padding: 0 1em;

    &, &:visited, &:hover { color: white }
}
