<section id="labels">
    <header>
        <h1>Labels</h1>
        <p>Small and adaptive tag for adding context to just about any content.</p>
    </header>
    <article>
        <h2 id="labels-example">Example</h2>
        <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative labels/labels.html %}
                </div>
            </div>
        </div>
        {% highlight html %}{% include_relative labels/labels.html %}{% endhighlight %}

        <h2 id="labels-pill">Pill labels</h2>
        <p>Use the <code>.label-pill</code> modifier class to make labels more rounded (with a larger <code>border-radius</code> and additional horizontal <code>padding</code>).</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative labels/labelsPill.html %}
                </div>
            </div>
        </div>
        {% highlight html %}{% include_relative labels/labelsPill.html %}{% endhighlight %}
    </article>
</section>