<section id="breadcrumb">
    <header>
        <h1>Breadcrumb</h1>
        <p>Indicate the current page’s location within a navigational hierarchy.</p>
    </header>
    <article>
        <h2 id="breadcrumb-example">Example</h2>
        <div class="example-block">
            <div class="e-row">
                <div class="col-sm-12">
                    {% include_relative breadcrumb/breadcrumb.html %}
                </div>
            </div>
        </div>
        {% highlight html %}{% include_relative breadcrumb/breadcrumb.html %}{% endhighlight %}
    </article>
</section>