<section id="paragraphs">
    <header>
        <h1>Paragraphs</h1>
        <p>A general description of the paragrapsh</p>
    </header>
    <article>
        <!-- Paragraph start -->
        <h2 id="paragraphs-example">Example</h2>
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative paragraphs/paragraphs.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative paragraphs/paragraphs.html %}{% endhighlight %}
        <!-- Paragraph end -->
    </article>
</section>