<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Components</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="icon" href="http://media.eleks.com/media/Content/assets/ico/favicon.ico">
    <link rel="stylesheet" href="/web-uikit/public/styles/eleks-ui-kit.css">
    <link rel="stylesheet" href="/web-uikit/public/styles/preview.css">
    <link rel="canonical" href="http://yourdomain.com/web-uikit/components/">
    <link rel="alternate" type="application/rss+xml" title="Eleks web ui kit" href="http://yourdomain.com/web-uikit/feed.xml">
</head>


    <body>

        <header class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a href="/web-uikit" class="navbar-brand">
              <img src="/web-uikit/public/img/logo_white.png" alt="logo">
            </a>
            <ul class="nav navbar-nav">
              
              
                
              
                
                  <li class="nav-item">
                    <a href="/web-uikit/getting-started/" class="nav-link">Getting started</a>
                  </li>
                
              
                
                  <li class="nav-item">
                    <a href="/web-uikit/layout/" class="nav-link">Layout</a>
                  </li>
                
              
                
                  <li class="nav-item">
                    <a href="/web-uikit/content/" class="nav-link">Content</a>
                  </li>
                
              
                
                  <li class="nav-item">
                    <a href="/web-uikit/components/" class="nav-link active ">Components</a>
                  </li>
                
              
                
              
            </ul>
          </div>
          <div class="dropdown pull-xs-right">
            <div class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Urer name
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else</button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>


        <div class="container">
    <div class="row">
        <div class="col-xs-3 sidenavWrap">
            <!-- Sidenav for components page layout start -->
            <div class="sidenav">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/web-uikit/components/#inputs" class="nav-link">Inputs</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="/web-uikit/components/#inputs-example" class="nav-link">Example</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#inputs-sizing" class="nav-link">Inputs sizing</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#inputs-checkboxes" class="nav-link">Checkboxes</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#inputs-radio" class="nav-link">Radio Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#inputs-validation" class="nav-link">Validation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/web-uikit/components/#buttons" class="nav-link">Buttons</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="/web-uikit/components/#buttons-example" class="nav-link">Example</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#buttons-inverse" class="nav-link">Buttons inverse</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#buttons-disabled" class="nav-link">Buttons disabled</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#buttons-sizing" class="nav-link">Buttons sizing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/web-uikit/components/#labels" class="nav-link">Labels</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="/web-uikit/components/#labels-example" class="nav-link">Example</a>
                            </li>
                            <li class="nav-item">
                                <a href="/web-uikit/components/#labels-pill" class="nav-link">Pill labels</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/web-uikit/components/#breadcrumb" class="nav-link">Breadcrumb</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="/web-uikit/components/#breadcrumb-example" class="nav-link">Example</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidenav for components page layout end -->
        </div>
        <div class="col-xs-9">
            <div class="example-wrap">
    <!-- Inputs start -->
    <section id="inputs">
    <header>
        <h1>Inputs</h1>
        <p>Web UI Kit provides several form control styles, layout options, and custom components for creating a wide variety of forms.</p>
    </header>
    <article>
        <!-- Inputs fields start -->
        <h2 id="inputs-example">Example</h2>
        <p>Use class <code>.input</code> for <code>input</code> and <code>textarea</code>.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
    <label for="inputNormal" class="required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="form-control">
    <small class="text-muted">We'll never share your email with anyone else.</small>
</div>
                    <div class="form-group">
    <label for="inputDisabled">Label</label>
    <input id="inputDisabled" type="text" placeholder="Disabled state" disabled class="form-control">
</div>
                    <div class="form-group">
    <label for="inputReadonly">Label</label>
    <input id="inputReadonly" type="text" placeholder="Read-only state" readonly class="form-control">
</div>

                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
    <label for="textareaID">Label for text area</label>
    <textarea id="textareaID" class="form-control" placeholder="text area" rows="3"></textarea>
    <small class="text-muted">We'll never share your email with anyone else.</small>
</div>

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"inputNormal"</span> <span class="na">class=</span><span class="s">"required"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"inputNormal"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Normal state"</span> <span class="na">class=</span><span class="s">"form-control"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;small</span> <span class="na">class=</span><span class="s">"text-muted"</span><span class="nt">&gt;</span>We'll never share your email with anyone else.<span class="nt">&lt;/small&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
        <!-- Inputs fields end -->


        <!-- Inputs sizing start -->
        <h2 id="inputs-sizing">Inputs sizing</h2>
        <p>Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="text" placeholder="Large normal state for input" class="form-control form-control-lg">
<input type="text" placeholder="Default normal state for input" class="form-control">
<input type="text" placeholder="Small normal state for input" class="form-control form-control-sm">

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Large normal state for input"</span> <span class="na">class=</span><span class="s">"form-control form-control-lg"</span><span class="nt">&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Default normal state for input"</span> <span class="na">class=</span><span class="s">"form-control"</span><span class="nt">&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Small normal state for input"</span> <span class="na">class=</span><span class="s">"form-control form-control-sm"</span><span class="nt">&gt;</span></code></pre></figure>
        <!-- Inputs sizing end -->


        <!-- Checkboxes start -->
        <h2 id="inputs-checkboxes">Check boxes</h2>
        <p>This is custom design for <code>&lt;input type="checkbox"&gt;</code>.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div>
                        <label class="c-input c-checkbox">
    <input type="checkbox">
    <span class="c-indicator"></span>
    Normal custom check box
</label>

                    </div>

                    <div>
                        <label class="c-input c-checkbox disabled">
    <input type="checkbox" disabled>
    <span class="c-indicator"></span>
    Disabled custom check box
</label>

                    </div>

                    <div>
                        <label class="c-input c-checkbox disabled">
    <input type="checkbox" disabled checked>
    <span class="c-indicator"></span>
    Disabled custom selected check box
</label>

                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div>
                        <label class="c-input c-checkbox c-checkbox-inverse">
    <input type="checkbox">
    <span class="c-indicator"></span>
    Custom inverse check box
</label>

                    </div>

                    <div>
                        <label class="c-input c-checkbox disabled">
    <input type="checkbox" disabled>
    <span class="c-indicator"></span>
    Disabled custom check box
</label>

                    </div>

                    <div>
                        <label class="c-input c-checkbox c-checkbox-inverse disabled">
    <input type="checkbox" disabled checked>
    <span class="c-indicator"></span>
    Default disabled selected inverse check box
</label>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"c-input c-checkbox"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"c-indicator"</span><span class="nt">&gt;&lt;/span&gt;</span>
    Normal custom check box
<span class="nt">&lt;/label&gt;</span></code></pre></figure>
            </div>
            <div class="col-sm-6 col-xs-12">
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"c-input c-checkbox c-checkbox-inverse"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"c-indicator"</span><span class="nt">&gt;&lt;/span&gt;</span>
    Custom inverse check box
<span class="nt">&lt;/label&gt;</span></code></pre></figure>
            </div>
        </div>
        <!-- Checkboxes end -->

        <!-- Radio Buttons start -->
        <h2 id="inputs-radio">Radio buttons</h2>
        <p>This is custom design for <code>&lt;input type="radio"&gt;</code>.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <label class="c-input c-radio">
    <input type="radio">
    <span class="c-indicator"></span>
   Custom radio button
</label>


                    <label class="c-input c-radio disabled">
    <input type="radio" disabled>
    <span class="c-indicator"></span>
    Custom disabled radio button
</label>


                    <label class="c-input c-radio disabled">
    <input type="radio" disabled checked>
    <span class="c-indicator"></span>
    Custom disabled selected radio button
</label>

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"c-input c-radio"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"radio"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"c-indicator"</span><span class="nt">&gt;&lt;/span&gt;</span>
   Custom radio button
<span class="nt">&lt;/label&gt;</span></code></pre></figure>
        <!-- Radio Buttons end -->

        <!-- Validation start -->
        <h2 id="inputs-validation">Validation</h2>
        <p>Web UIKit includes validation styles for danger, warning, and success states on form controls. To use, add <code>.has-warning</code>, <code>.has-danger</code>, or <code>.has-success</code> to the parent element. Any <code>.form-control-label</code>, <code>.form-control</code>, and <code>.text-muted</code> within that element will receive the validation styles.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group has-success">
    <label for="inputNormal" class="form-control-label required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="form-control form-control-success" value="Simple text">
    <small class="text-help">Success message</small>
</div>

                    <div class="form-group has-warning">
    <label for="inputNormal" class="form-control-label required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="form-control form-control-warning" value="Simple text">
    <small class="text-help">Warning message</small>
</div>

                    <div class="form-group has-danger">
    <label for="inputNormal" class="form-control-label required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="form-control form-control-danger" value="Simple text">
    <small class="text-help">Error message</small>
</div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-success">
    <label class="c-input c-checkbox">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default check box with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled check box with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected check box with success
    </label>
</div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-success">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default inverse check box with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled inverse check box with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected inverse check box with success
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-warning">
    <label class="c-input c-checkbox">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default check box with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled check box with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected check box with warning
    </label>
</div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-warning">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default inverse check box with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled inverse check box with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected inverse check box with warning
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-danger">
    <label class="c-input c-checkbox">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default check box with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled check box with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-checkbox">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected check box with danger
    </label>
</div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-danger">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Default inverse check box with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled>
        <span class="c-indicator"></span>
        Default disabled inverse check box with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-checkbox c-checkbox-inverse">
        <input type="checkbox" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected inverse check box with danger
    </label>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-success">
    <label class="c-input c-radio">
        <input type="radio">
        <span class="c-indicator"></span>
        Default radio button with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-radio">
        <input type="radio" disabled>
        <span class="c-indicator"></span>
        Default disabled radio button with success
    </label>
</div>

                                <div class="disabled has-success">
    <label class="c-input c-radio">
        <input type="radio" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected radio button with success
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-warning">
    <label class="c-input c-radio">
        <input type="radio">
        <span class="c-indicator"></span>
        Default radio button with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-radio">
        <input type="radio" disabled>
        <span class="c-indicator"></span>
        Default disabled radio button with warning
    </label>
</div>

                                <div class="disabled has-warning">
    <label class="c-input c-radio">
        <input type="radio" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected radio button with warning
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="has-danger">
    <label class="c-input c-radio">
        <input type="radio">
        <span class="c-indicator"></span>
        Default radio button with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-radio">
        <input type="radio" disabled>
        <span class="c-indicator"></span>
        Default disabled radio button with danger
    </label>
</div>

                                <div class="disabled has-danger">
    <label class="c-input c-radio">
        <input type="radio" disabled checked>
        <span class="c-indicator"></span>
        Default disabled selected radio button with danger
    </label>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Validation end -->
    </article>
</section>

    <!-- Inputs end -->

    <!-- Buttons start -->
    <section id="buttons">
    <header>
        <h1>Buttons</h1>
        <p>Use custom button styles for actions in forms, dialogs, and so on. Our framework supports contextual variations, sizes, states, and more.</p>
    </header>
    <article>
        <h2 id="buttons-example">Example</h2>
        <p>ELEKS Web UI Kit contains six predefined button styles, and each of them serves its own semantic purpose.</p>

        <!-- Buttons start -->
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="button">Primary</button>
<button class="btn btn-secondary" type="button">Secondary</button>
<button class="btn btn-success" type="button">Success</button>
<button class="btn btn-info" type="button">Info</button>
<button class="btn btn-warning" type="button">Warning</button>
<button class="btn btn-danger" type="button">Danger</button>
<button class="btn btn-link" type="button">Link</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-success"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-info"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-warning"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-danger"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-link"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons end -->

        <!-- Buttons inverse start -->
        <h2 id="buttons-inverse">Inverse buttons</h2>
        <p>If you need a button without any coloring, replace the default modifier classes with the <code>.e-btn-*-outline</code> ones to remove all background images and colors on any button.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary-outline" type="button">Primary</button>
<button class="btn btn-secondary-outline" type="button">Secondary</button>
<button class="btn btn-success-outline" type="button">Success</button>
<button class="btn btn-warning-outline" type="button">Warning</button>
<button class="btn btn-danger-outline" type="button">Danger</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-success-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-warning-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-danger-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons inverse end -->

        <!-- Buttons disabled start -->
        <h2 id="buttons-disabled">Disabled buttons</h2>
        <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any <code>&lt;button&gt;</code> element.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="button" disabled>Primary</button>
<button class="btn btn-secondary" type="button" disabled>Secondary</button>
<button class="btn btn-success" type="button" disabled>Success</button>
<button class="btn btn-info" type="button" disabled>Info</button>
<button class="btn btn-warning" type="button" disabled>Warning</button>
<button class="btn btn-danger" type="button" disabled>Danger</button>
<button class="btn btn-link" type="button" disabled>Link</button>
<button class="btn btn-primary-outline" type="button" disabled>All inverse disabled</button>
                </div>
            </div>
        </div>
        <!-- Buttons disabled end -->

        <!-- Buttons sizing start -->
        <h2 id="buttons-sizing">Buttons sizing</h2>
        <p>If you need larger or smaller buttons, add <code>.e-btn-lg</code> or <code>.e-btn-sm</code> for additional sizes.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg" type="button">Large button</button>
<button class="btn btn-primary" type="button">Normal button</button>
<button class="btn btn-primary btn-sm" type="button">Small button</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Large button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Normal button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-sm"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Small button<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons sizing end -->
    </article>
</section>

    <!-- Buttons end -->

    <!-- Labels start -->
    <section id="labels">
    <header>
        <h1>Labels</h1>
        <p>Small and adaptive tag for adding context to just about any content.</p>
    </header>
    <article>
        <h2 id="labels-example">Example</h2>
        <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-default"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"label label-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span></code></pre></figure>

        <h2 id="labels-pill">Pill labels</h2>
        <p>Use the <code>.label-pill</code> modifier class to make labels more rounded (with a larger <code>border-radius</code> and additional horizontal <code>padding</code>).</p>

        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    <a class="label label-pill label-default" href="#">Default</a>
<a class="label label-pill label-primary" href="#">Primary</a>
<a class="label label-pill label-success" href="#">Success</a>
<a class="label label-pill label-info" href="#">Info</a>
<a class="label label-pill label-warning" href="#">Warning</a>
<a class="label label-pill label-danger" href="#">Danger</a>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-default"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-primary"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-success"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-info"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-warning"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"label label-pill label-danger"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/a&gt;</span></code></pre></figure>
    </article>
</section>
    <!-- Labels end -->

    <!-- Breadcrumbs start -->
    <section id="breadcrumb">
    <header>
        <h1>Breadcrumb</h1>
        <p>Indicate the current page’s location within a navigational hierarchy.</p>
    </header>
    <article>
        <h2 id="breadcrumb-example">Example</h2>
        <div class="example-block">
            <div class="e-row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ol</span> <span class="na">class=</span><span class="s">"breadcrumb"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Library<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;</span>Data<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span></code></pre></figure>
    </article>
</section>
    <!-- Breadcrumbs end -->
</div>
        </div>
    </div>
</div>

        <footer class="navbar navbar-dark bg-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        © 1999-2016 ELEKS, All rights reserved
      </div>
    </div>
  </div>
</footer>


    </body>

</html>
