<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Components</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="icon" href="http://media.eleks.com/media/Content/assets/ico/favicon.ico">
    <link rel="stylesheet" href="/web-uikit/public/styles/eleks-ui-kit.css">
    <link rel="stylesheet" href="/web-uikit/public/styles/preview.css">
    <link rel="canonical" href="http://yourdomain.com/web-uikit/components/">
    <link rel="alternate" type="application/rss+xml" title="Eleks web ui kit" href="http://yourdomain.com/web-uikit/feed.xml">
</head>


    <body>

        <header class="e-navbar e-navbar-primary e-navbar-fixed-top">
    <div class="e-container">
        <div class="e-row">
            <div class="e-col-xs-3">
                <a href="/web-uikit" class="e-navbar-brand">
                    <img src="/web-uikit/public/img/logo_white.png" alt="logo">
                </a>
            </div>
            <div class="e-col-xs-9">
                <ul class="e-nav e-nav-inline">
                    
                    
                        
                    
                        
                            <li class="e-nav-item">
                                <a href="/web-uikit/getting-started/" class="e-nav-link">Getting started</a>
                            </li>
                        
                    
                        
                            <li class="e-nav-item">
                                <a href="/web-uikit/layout/" class="e-nav-link">Layout</a>
                            </li>
                        
                    
                        
                            <li class="e-nav-item">
                                <a href="/web-uikit/content/" class="e-nav-link">Content</a>
                            </li>
                        
                    
                        
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/" class="e-nav-link active ">Components</a>
                            </li>
                        
                    
                </ul>
            </div>
        </div>
    </div>
</header>


        <div class="e-container">
    <div class="e-row">
        <div class="e-col-xs-3 e-sidenavWrap">
            <!-- Sidenav for components page layout start -->
            <div class="e-sidenav">
                <ul class="e-nav">
                    <li class="e-nav-item">
                        <a href="/web-uikit/components/#inputs" class="e-nav-link">Inputs</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#inputs-example" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#inputs-sizing" class="e-nav-link">Inputs sizing</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#inputs-checkboxes" class="e-nav-link">Checkboxes</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#inputs-radio" class="e-nav-link">Radio Buttons</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#inputs-validation" class="e-nav-link">Validation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="/web-uikit/components/#buttons" class="e-nav-link">Buttons</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#buttons-example" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#buttons-inverse" class="e-nav-link">Buttons inverse</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#buttons-disabled" class="e-nav-link">Buttons disabled</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#buttons-sizing" class="e-nav-link">Buttons sizing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="/web-uikit/components/#labels" class="e-nav-link">Labels</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#labels-example" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#labels-pill" class="e-nav-link">Pill labels</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="/web-uikit/components/#breadcrumb" class="e-nav-link">Breadcrumb</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="/web-uikit/components/#breadcrumb-example" class="e-nav-link">Example</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidenav for components page layout end -->
        </div>
        <div class="e-col-xs-9">
            <div class="e-example-wrap">
    <!-- Inputs start -->
    <section id="inputs">
    <header>
        <h1>Inputs</h1>
        <p>Web UI Kit provides several form control styles, layout options, and custom components for creating a wide variety of forms.</p>
    </header>
    <article>
        <!-- Inputs fields start -->
        <h2 id="inputs-example">Example</h2>
        <p>Use class <code>.e-input</code> for <code>input</code> and <code>textarea</code>.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-form-group">
    <label for="inputNormal" class="e-input-label e-required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="e-input">
    <small class="e-text-muted">We'll never share your email with anyone else.</small>
</div>
                    <div class="e-form-group">
    <label for="inputDisabled" class="e-input-label">Label</label>
    <input id="inputDisabled" type="text" placeholder="Disabled state" disabled class="e-input">
</div>
                    <div class="e-form-group">
    <label for="inputReadonly" class="e-input-label">Label</label>
    <input id="inputReadonly" type="text" placeholder="Read-only state" readonly class="e-input">
</div>

                </div>
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-form-group">
    <label for="textareaID" class="e-input-label">Label for text area</label>
    <textarea id="textareaID" class="e-input" placeholder="text area" rows="3"></textarea>
    <small class="e-text-muted">We'll never share your email with anyone else.</small>
</div>

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"e-form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"inputNormal"</span> <span class="na">class=</span><span class="s">"e-input-label e-required"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"inputNormal"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Normal state"</span> <span class="na">class=</span><span class="s">"e-input"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;small</span> <span class="na">class=</span><span class="s">"e-text-muted"</span><span class="nt">&gt;</span>We'll never share your email with anyone else.<span class="nt">&lt;/small&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
        <!-- Inputs fields end -->


        <!-- Inputs sizing start -->
        <h2 id="inputs-sizing">Inputs sizing</h2>
        <p>Set heights using classes like <code>.e-input-lg</code>, and set widths using grid column classes like <code>.e-col-lg-*</code>.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-6 e-col-xs-12">
                    <input type="text" placeholder="Large normal state for input" class="e-input e-input-lg">
<input type="text" placeholder="Default normal state for input" class="e-input">
<input type="text" placeholder="Small normal state for input" class="e-input e-input-sm">

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Large normal state for input"</span> <span class="na">class=</span><span class="s">"e-input e-input-lg"</span><span class="nt">&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Default normal state for input"</span> <span class="na">class=</span><span class="s">"e-input"</span><span class="nt">&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">"Small normal state for input"</span> <span class="na">class=</span><span class="s">"e-input e-input-sm"</span><span class="nt">&gt;</span></code></pre></figure>
        <!-- Inputs sizing end -->


        <!-- Checkboxes start -->
        <h2 id="inputs-checkboxes">Check boxes</h2>
        <p>This is custom design for <code>&lt;input tyle="checkbox"&gt;</code>.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-checkbox">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Normal custom check box
    </label>
</div>


                    <div class="e-checkbox e-disabled">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Disabled custom check box
    </label>
</div>


                    <div class="e-checkbox e-disabled">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Disabled custom selected check box
    </label>
</div>

                </div>
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-checkbox-inverse">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Custom inverse check box
    </label>
</div>


                    <div class="e-checkbox e-disabled">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Disabled custom check box
    </label>
</div>


                    <div class="e-checkbox-inverse e-disabled">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected inverse check box
    </label>
</div>

                </div>
            </div>
        </div>

        <div class="e-row">
            <div class="e-col-sm-6 e-col-xs-12">
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"e-checkbox"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-icon"</span><span class="nt">&gt;&lt;/span&gt;</span>
        Normal custom check box
    <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
            </div>
            <div class="e-col-sm-6 e-col-xs-12">
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"e-checkbox-inverse"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-icon"</span><span class="nt">&gt;&lt;/span&gt;</span>
        Custom inverse check box
    <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
            </div>
        </div>
        <!-- Checkboxes end -->

        <!-- Radio Buttons start -->
        <h2 id="inputs-radio">Radio buttons</h2>
        <p>This is custom design for <code>&lt;input tyle="radio"&gt;</code>.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-radio">
    <label>
        <input type="radio">
        <span class="e-icon"></span>
       Custom radio button
    </label>
</div>


                    <div class="e-radio e-disabled">
    <label>
        <input type="radio" disabled>
        <span class="e-icon"></span>
        Custom disabled radio button
    </label>
</div>


                    <div class="e-radio e-disabled">
    <label>
        <input type="radio" disabled checked>
        <span class="e-icon"></span>
        Custom disabled selected radio button
    </label>
</div>

                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"e-radio"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"radio"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-icon"</span><span class="nt">&gt;&lt;/span&gt;</span>
       Custom radio button
    <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
        <!-- Radio Buttons end -->

        <!-- Validation start -->
        <h2 id="inputs-validation">Validation</h2>
        <p>Web UIKit includes validation styles for danger, warning, and success states on form controls. To use, add <code>.e-has-warning</code>, <code>.e-has-danger</code>, or <code>.e-has-success</code> to the parent element. Any <code>.e-input-label</code>, <code>.e-input</code>, and <code>.e-text-muted</code> within that element will receive the validation styles.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-6 e-col-xs-12">
                    <div class="e-form-group e-has-success">
    <label for="inputNormal" class="e-input-label e-required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="e-input e-success" value="Simple text">
    <small class="e-text-muted">Success message</small>
</div>

                    <div class="e-form-group e-has-warning">
    <label for="inputNormal" class="e-input-label e-required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="e-input e-warning" value="Simple text">
    <small class="e-text-muted">Warning message</small>
</div>

                    <div class="e-form-group e-has-danger">
    <label for="inputNormal" class="e-input-label e-required">Label</label>
    <input id="inputNormal" type="text" placeholder="Normal state" class="e-input e-danger" value="Simple text">
    <small class="e-text-muted">Error message</small>
</div>

                </div>
            </div>
            <div class="e-row">
                <div class="e-col-sm-12">
                    <div class="e-row">
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox e-has-success">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default check box with success
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-success">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled check box with success
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-success">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected check box with success
    </label>
</div>

                            </div>
                        </div>
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox-inverse e-has-success">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default inverse check box with success
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-success">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled inverse check box with success
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-success">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected inverse check box with success
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="e-row">
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox e-has-warning">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default check box with warning
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-warning">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled check box with warning
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-warning">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected check box with warning
    </label>
</div>

                            </div>
                        </div>
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox-inverse e-has-warning">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default inverse check box with warning
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-warning">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled inverse check box with warning
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-warning">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected inverse check box with warning
    </label>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="e-row">
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox e-has-danger">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default check box with danger
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-danger">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled check box with danger
    </label>
</div>

                                <div class="e-checkbox e-disabled e-has-danger">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected check box with danger
    </label>
</div>

                            </div>
                        </div>
                        <div class="e-col-sm-6 e-col-xs-12">
                            <div class="e-form-group">
                                <div class="e-checkbox-inverse e-has-danger">
    <label>
        <input type="checkbox">
        <span class="e-icon"></span>
        Default inverse check box with danger
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-danger">
    <label>
        <input type="checkbox" disabled>
        <span class="e-icon"></span>
        Default disabled inverse check box with danger
    </label>
</div>

                                <div class="e-checkbox-inverse e-disabled e-has-danger">
    <label>
        <input type="checkbox" disabled checked>
        <span class="e-icon"></span>
        Default disabled selected inverse check box with danger
    </label>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Validation end -->
    </article>
</section>

    <!-- Inputs end -->

    <!-- Buttons start -->
    <section id="buttons">
    <header>
        <h1>Buttons</h1>
        <p>Use custom button styles for actions in forms, dialogs, and so on. Our framework supports contextual variations, sizes, states, and more.</p>
    </header>
    <article>
        <h2 id="buttons-example">Example</h2>
        <p>ELEKS Web UI Kit contains six predefined button styles, and each of them serves its own semantic purpose.</p>

        <!-- Buttons start -->
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <button class="e-btn e-btn-primary" type="button">Primary</button>
<button class="e-btn e-btn-secondary" type="button">Secondary</button>
<button class="e-btn e-btn-success" type="button">Success</button>
<button class="e-btn e-btn-info" type="button">Info</button>
<button class="e-btn e-btn-warning" type="button">Warning</button>
<button class="e-btn e-btn-danger" type="button">Danger</button>
<button class="e-btn e-btn-link" type="button">Link</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-secondary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-success"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-info"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-warning"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-danger"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-link"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons end -->

        <!-- Buttons inverse start -->
        <h2 id="buttons-inverse">Inverse buttons</h2>
        <p>If you need a button without any coloring, replace the default modifier classes with the <code>.e-btn-*-outline</code> ones to remove all background images and colors on any button.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <button class="e-btn e-btn-primary-outline" type="button">Primary</button>
<button class="e-btn e-btn-secondary-outline" type="button">Secondary</button>
<button class="e-btn e-btn-success-outline" type="button">Success</button>
<button class="e-btn e-btn-warning-outline" type="button">Warning</button>
<button class="e-btn e-btn-danger-outline" type="button">Danger</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-primary-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-secondary-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-success-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-warning-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-danger-outline"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons inverse end -->

        <!-- Buttons disabled start -->
        <h2 id="buttons-disabled">Disabled buttons</h2>
        <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any <code>&lt;button&gt;</code> element.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <button class="e-btn e-btn-primary" type="button" disabled>Primary</button>
<button class="e-btn e-btn-secondary" type="button" disabled>Secondary</button>
<button class="e-btn e-btn-success" type="button" disabled>Success</button>
<button class="e-btn e-btn-info" type="button" disabled>Info</button>
<button class="e-btn e-btn-warning" type="button" disabled>Warning</button>
<button class="e-btn e-btn-danger" type="button" disabled>Danger</button>
<button class="e-btn e-btn-link" type="button" disabled>Link</button>
<button class="e-btn e-btn-primary-outline" type="button" disabled>All inverse disabled</button>
                </div>
            </div>
        </div>
        <!-- Buttons disabled end -->

        <!-- Buttons sizing start -->
        <h2 id="buttons-sizing">Buttons sizing</h2>
        <p>If you need larger or smaller buttons, add <code>.e-btn-lg</code> or <code>.e-btn-sm</code> for additional sizes.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <button class="e-btn e-btn-primary e-btn-lg" type="button">Large button</button>
<button class="e-btn e-btn-primary" type="button">Normal button</button>
<button class="e-btn e-btn-primary e-btn-sm" type="button">Small button</button>
                </div>
            </div>
        </div>

        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-primary e-btn-lg"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Large button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Normal button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"e-btn e-btn-primary e-btn-sm"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Small button<span class="nt">&lt;/button&gt;</span></code></pre></figure>
        <!-- Buttons sizing end -->
    </article>
</section>

    <!-- Buttons end -->

    <!-- Labels start -->
    <section id="labels">
    <header>
        <h1>Labels</h1>
        <p>Small and adaptive tag for adding context to just about any content.</p>
    </header>
    <article>
        <h2 id="labels-example">Example</h2>
        <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <span class="e-label e-label-default">Default</span>
<span class="e-label e-label-primary">Primary</span>
<span class="e-label e-label-success">Success</span>
<span class="e-label e-label-info">Info</span>
<span class="e-label e-label-warning">Warning</span>
<span class="e-label e-label-danger">Danger</span>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-default"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"e-label e-label-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span></code></pre></figure>

        <h2 id="labels-pill">Pill labels</h2>
        <p>Use the <code>.e-label-pill</code> modifier class to make labels more rounded (with a larger <code>border-radius</code> and additional horizontal <code>padding</code>).</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <a class="e-label e-label-pill e-label-default" href="#">Default</a>
<a class="e-label e-label-pill e-label-primary" href="#">Primary</a>
<a class="e-label e-label-pill e-label-success" href="#">Success</a>
<a class="e-label e-label-pill e-label-info" href="#">Info</a>
<a class="e-label e-label-pill e-label-warning" href="#">Warning</a>
<a class="e-label e-label-pill e-label-danger" href="#">Danger</a>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-default"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-primary"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-success"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-info"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-warning"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"e-label e-label-pill e-label-danger"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/a&gt;</span></code></pre></figure>
    </article>
</section>
    <!-- Labels end -->

    <!-- Breadcrumbs start -->
    <section id="breadcrumb">
    <header>
        <h1>Breadcrumb</h1>
        <p>Indicate the current page’s location within a navigational hierarchy.</p>
    </header>
    <article>
        <h2 id="breadcrumb-example">Example</h2>
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
                </div>
            </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ol</span> <span class="na">class=</span><span class="s">"breadcrumb"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Library<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;</span>Data<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span></code></pre></figure>
    </article>
</section>
    <!-- Breadcrumbs end -->
</div>
        </div>
    </div>
</div>

        <footer class="e-footer e-container">
    <div class="e-row">
        <div class="e-col-xs-9 e-col-xs-offset-3">
            © 1999-2016 ELEKS, All rights reserved
        </div>
    </div>
</footer>


    </body>

</html>
