<section id="table">
    <header>
        <h1>Table</h1>
        <p>A general description of the table</p>
    </header>
    <article>
        <!-- Table start -->
        <h2>Example</h2>
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/table.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/table.html %}{% endhighlight %}
        <!-- Table end -->

        <!-- Inverse table start -->
        <h2>Inverse table</h2>
        <p>A general description of the inverse table</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/inverseTable.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/inverseTable.html %}{% endhighlight %}
        <!-- Inverse table end -->

        <!-- Table head options start -->
        <h2>Table head options</h2>
        <p>A general description of the table head options</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/tableHeadOptions.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/tableHeadOptions.html %}{% endhighlight %}
        <!-- Table head options end -->

        <!-- Small table start -->
        <h2>Small table</h2>
        <p>A general description of the small table</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/smallTable.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/smallTable.html %}{% endhighlight %}
        <!-- Small table end -->

        <!-- Contextual classes start -->
        <h2>Contextual classes</h2>
        <p>A general description of the contextual classes</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/contextualClasses.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/contextualClasses.html %}{% endhighlight %}
        <!-- Contextual classes end -->

        <!-- Responsive table start -->
        <h2>Responsive table</h2>
        <p>A general description of the responsive table</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative table/responsiveTable.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative table/responsiveTable.html %}{% endhighlight %}
        <!-- Responsive table end -->
    </article>
</section>