<section id="typography">
    <header>
        <h1>Typography</h1>
        <p>Our framework includes simple and easily customized typography for headings, body text, lists, and more.</p>
    </header>
    <article>
        <!-- Headings start -->
        <h2 id="typography-headings">Headings</h2>
        <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/headings.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/headings.html %}{% endhighlight %}
        <!-- Headings end -->

        <!-- Paragraph start -->
        <h2 id="typography-paragraphs">Paragraphs</h2>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/paragraphs.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/paragraphs.html %}{% endhighlight %}
        <!-- Paragraph end -->

        <!-- Links start -->
        <h2 id="typography-links">Links</h2>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/link.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/link.html %}{% endhighlight %}
        <!-- Links end -->

        <!-- Lists start -->
        <h2 id="typography-lists">Lists</h2>
        <h3 id="typography-lists-unstyled">Unstyled</h3>
        <p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/listsUnstyled.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/listsUnstyled.html %}{% endhighlight %}

        <h3 id="typography-lists-inline">Inline</h3>
        <p>Place all list items on a single line with <code>display: inline-block;</code> and some basic margin between.</p>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/listsInline.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/listsInline.html %}{% endhighlight %}

        <h3 id="typography-lists-horizontal-description">Horizontal description</h3>
        <p>Align terms and descriptions horizontally by using the predefined classes (or semantic mixins) of our grid system. For longer terms, you can optionally add a <code>.text-truncate</code> class to truncate the text with an ellipsis.</p>
        <div class="example-block">
            <div class="row">
                <div class="col-sm-12">
                    {% include_relative typography/listsHorizontalDescription.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative typography/listsHorizontalDescription.html %}{% endhighlight %}
        <!-- Lists end -->
    </article>
</section>
