<div class="e-row">
      <div class="e-col-xs-12 e-col-sm-6 e-col-md-8">.e-col-xs-12 .e-col-sm-6 .e-col-md-8</div>
      <div class="e-col-xs-6 e-col-md-4">.e-col-xs-6 .e-col-md-4</div>
</div>
<div class="e-row">
      <div class="e-col-xs-6 e-col-sm-4">.e-col-xs-6 .e-col-sm-4</div>
      <div class="e-col-xs-6 e-col-sm-4">.e-col-xs-6 .e-col-sm-4</div>
      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="e-clearfix e-hidden-sm-up"></div>
      <div class="e-col-xs-6 e-col-sm-4">.e-col-xs-6 .e-col-sm-4</div>
</div>