<section id="grid">
    <header>
        <h1>Grid system</h1>
        <p>Web UI Kit provides a powerful mobile-first grid system for building layouts of all shapes and sizes based on <strong>flexboxes</strong>. It’s based on a 12-column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
    </header>
    <article>
        <!-- How it works start -->
        <h2 id="grid-how-it-works">How it works</h2>
        <p>At a high level, here’s how the grid system works:</p>
        <ul>
            <li>There are three major components&mdash;containers, rows, and columns.</li>
            <li>Containers&mdash;<code>.e-container</code> for fixed width or <code>.e-container-fluid</code> for full width&mdash;center your site’s contents and help align your grid content.</li>
            <li>Rows are horizontal groups of columns that ensure your columns are lined up properly.</li>
            <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
            <li>Column classes indicate the number of columns you’d like to use out of the possible 12 per row. So if you need three equal-width columns, use <code>.e-col-sm-4</code>.</li>
            <li>Column <code>width</code>s are set in percentage, so they’re always fluid and sized correspondingly to their parent element.</li>
            <li>Columns have horizontal <code>padding</code> to create the gutters between individual columns.</li>
            <li>There are five grid tiers, one for each <a href="/layout/overview/#responsive-breakpoints">responsive breakpoint</a>: extra small, small, medium, large, and extra large.</li>
            <li>Grid tiers are based on minimum widths, meaning they apply to that one tier and all those above it (e.g., <code>.e-col-sm-4</code> applies to small, medium, large, and extra large devices).</li>
            <li>You can use predefined grid classes or Sass mixins for more semantic markup.</li>
        </ul>
        <!-- How it works end -->

        <!-- Quick start example start -->
        <h2 id="grid-quick-start-example">Quick start example</h2>
        <p>If you’re using Web UI Kit’s compiled CSS, this the example you’ll want to start with.</p>

        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative grid/grid.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative grid/grid.html %}{% endhighlight %}

        <p>The above example creates three equal-width columns on small, medium, large, and extra large devices using our <a href="#predefined-classes">predefined grid classes</a>. Those columns are centered in the page with the parent <code>.e-container</code>.</p>
        <!-- Quick start example end -->

        <!-- Grid options start-->
        <h2 id="grid-grid-options">Grid options</h2>
        <p>Web UI Kit uses <code>px</code>s for grid breakpoints and container widths.</p>
        <p>In the table below, you can view how aspects of the Web UI Kit grid system work across multiple devices.</p>
        <div class="e-table-responsive">
            <table class="e-table e-table-bordered e-table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="e-text-xs-center">
                            Extra small<br>
                            <small>&lt;544px</small>
                        </th>
                        <th class="e-text-xs-center">
                            Small<br>
                            <small>≥544px</small>
                        </th>
                        <th class="e-text-xs-center">
                            Medium<br>
                            <small>≥768px</small>
                        </th>
                        <th class="e-text-xs-center">
                            Large<br>
                            <small>≥992px</small>
                        </th>
                        <th class="e-text-xs-center">
                            Extra large<br>
                            <small>≥1200px</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="e-text-nowrap">Grid behavior</th>
                        <td>Horizontal at all times</td>
                        <td colspan="4">Collapsed to start, horizontal above breakpoints</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Container width</th>
                        <td>None (auto)</td>
                        <td>576px</td>
                        <td>720px</td>
                        <td>940px</td>
                        <td>1140px</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Class prefix</th>
                        <td><code>.e-col-xs-</code></td>
                        <td><code>.e-col-sm-</code></td>
                        <td><code>.e-col-md-</code></td>
                        <td><code>.e-col-lg-</code></td>
                        <td><code>.e-col-xl-</code></td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap"># of columns</th>
                        <td colspan="5">12</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Gutter width</th>
                        <td colspan="5">1.875rem / 30px (15px on each side of a column)</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Nestable</th>
                        <td colspan="5">Yes</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Offsets</th>
                        <td colspan="5">Yes</td>
                    </tr>
                    <tr>
                        <th class="e-text-nowrap">Column ordering</th>
                        <td colspan="5">Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Grid options end-->

        <!-- Sass mixins start -->
        <h2 id="grid-sass-mixins">Sass mixins</h2>
        <p>When using Web UI Kit’s source Sass files, you have the option of using Sass variables and mixins to create custom, semantic, and responsive page layouts. Our <a href="#predefined-classes">predefined grid classes</a> use these same variables and mixins to provide a whole suite of ready-to-use classes for fast responsive layouts.</p>

        <h3 id="grid-variables">Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which floating columns begin. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        {% highlight css %}{% include_relative grid/gridVariables.html %}{% endhighlight %}
        <!-- Sass mixins end -->
    </article>
</section>
