---
layout: default
---

<div class="e-container">
    <div class="e-row">
        <div class="e-col-xs-3 e-sidenavWrap">
            <!-- Sidenav for components page layout start -->
            <div class="e-sidenav">
                <ul class="e-nav">
                    <li class="e-nav-item">
                        <a href="{{ "/components/#inputs" | prepend: site.baseurl }}" class="e-nav-link">Inputs</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="{{ "/components/#inputs-example" | prepend: site.baseurl }}" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#inputs-sizing" | prepend: site.baseurl }}" class="e-nav-link">Inputs sizing</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#inputs-checkboxes" | prepend: site.baseurl }}" class="e-nav-link">Checkboxes</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#inputs-radio" | prepend: site.baseurl }}" class="e-nav-link">Radio Buttons</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#inputs-validation" | prepend: site.baseurl }}" class="e-nav-link">Validation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="{{ "/components/#buttons" | prepend: site.baseurl }}" class="e-nav-link">Buttons</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="{{ "/components/#buttons-example" | prepend: site.baseurl }}" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#buttons-inverse" | prepend: site.baseurl }}" class="e-nav-link">Buttons inverse</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#buttons-disabled" | prepend: site.baseurl }}" class="e-nav-link">Buttons disabled</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#buttons-sizing" | prepend: site.baseurl }}" class="e-nav-link">Buttons sizing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="{{ "/components/#labels" | prepend: site.baseurl }}" class="e-nav-link">Labels</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="{{ "/components/#labels-example" | prepend: site.baseurl }}" class="e-nav-link">Example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/components/#labels-pill" | prepend: site.baseurl }}" class="e-nav-link">Pill labels</a>
                            </li>
                        </ul>
                    </li>
                    <li class="e-nav-item">
                        <a href="{{ "/components/#breadcrumb" | prepend: site.baseurl }}" class="e-nav-link">Breadcrumb</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="{{ "/components/#breadcrumb-example" | prepend: site.baseurl }}" class="e-nav-link">Example</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidenav for components page layout end -->
        </div>
        <div class="e-col-xs-9">
            {{ content }}
        </div>
    </div>
</div>