---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-xs-3 sidenavWrap">
            <!-- Sidenav for content page layout start -->
            <div class="sidenav">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ "/content/#typography" | prepend: site.baseurl }}" class="nav-link">Typography</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ "/content/#typography-headings" | prepend: site.baseurl }}" class="nav-link">Headings</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#typography-paragraphs" | prepend: site.baseurl }}" class="nav-link">Paragraphs</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#typography-links" | prepend: site.baseurl }}" class="nav-link">Links</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#typography-lists" | prepend: site.baseurl }}" class="nav-link">Lists</a>
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="{{ "/content/#typography-lists-unstyled" | prepend: site.baseurl }}" class="nav-link">Unstyled</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ "/content/#typography-lists-inline" | prepend: site.baseurl }}" class="nav-link">Inline</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ "/content/#typography-lists-horizontal-description" | prepend: site.baseurl }}" class="nav-link">Horizontal description</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "/content/#table" | prepend: site.baseurl }}" class="nav-link">Table</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ "/content/#table-example" | prepend: site.baseurl }}" class="nav-link">Example</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#table-inverse" | prepend: site.baseurl }}" class="nav-link">Inverse table</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#table-head-options" | prepend: site.baseurl }}" class="nav-link">Table head options</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#table-small" | prepend: site.baseurl }}" class="nav-link">Small table</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#table-contextual-classes" | prepend: site.baseurl }}" class="nav-link">Contextual classes</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/content/#table-responsive" | prepend: site.baseurl }}" class="nav-link">Responsive table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Sidenav for content page layout end -->
        <div class="col-xs-9">
            {{ content }}
        </div>
    </div>
</div>