<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="default-custom">

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        <div id="sidenav" class="col-sm-3 sidenavWrap">
          <!-- Sidenav for default-custom page layout start -->

            <div class="sidenav sidenav-left with-icons">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Menu level 1 long name</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-image" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Menu level 1 long name</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-envelope-o" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-file-o" aria-hidden="true"></span>Menu level 1 long name</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "#" | prepend: site.baseurl }}" class="nav-link"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>Menu level 1</a>
                    </li>
                </ul>
                <div id="sidenav-toggle" class="sidenav-toggle">
                  <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                </div>
            </div>
            <div class="sidenav-mask"></div>
            <!-- Sidenav for default-custom page layout end -->
        </div>
        <div class="col-sm-9">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="content">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  <script type="text/javascript">
    document.getElementById('sidenav-toggle').onclick = function() {
      document.getElementById('sidenav').classList.toggle('active');
    }
  </script>
  </body>

</html>
