---
layout: default
---


<div class="e-container">
    <div class="e-row">
        <div class="e-col-xs-3 sidenavWrap">
            <!-- Sidenav for layout page layout start -->
            <div class="e-sidenav e-sidenav-left">
                <ul class="e-nav">
                    <li class="e-nav-item">
                        <a href="{{ "/layout/#grid" | prepend: site.baseurl }}" class="e-nav-link">Grid system</a>
                        <ul class="e-nav">
                            <li class="e-nav-item">
                                <a href="{{ "/layout/#grid-how-it-works" | prepend: site.baseurl }}" class="e-nav-link">How it works</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/layout/#grid-quick-start-example" | prepend: site.baseurl }}" class="e-nav-link">Quick start example</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/layout/#grid-grid-options" | prepend: site.baseurl }}" class="e-nav-link">Grid options</a>
                            </li>
                            <li class="e-nav-item">
                                <a href="{{ "/layout/#grid-sass-mixins" | prepend: site.baseurl }}" class="e-nav-link">Sass mixins</a>
                                <ul class="e-nav">
                                    <li class="e-nav-item">
                                        <a href="{{ "/layout/#grid-variables" | prepend: site.baseurl }}" class="e-nav-link">Variables</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidenav for layout page layout end -->
        </div>
        <div class="e-col-xs-9">
            {{ content }}
        </div>
    </div>
</div>