---
layout: default
---


<div class="container">
    <div class="row">
        <div class="col-xs-3 sidenavWrap">
            <!-- Sidenav for layout page layout start -->
            <div class="sidenav sidenav-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ "/layout/#grid" | prepend: site.baseurl }}" class="nav-link">Grid system</a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-how-it-works" | prepend: site.baseurl }}" class="nav-link">How it works</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-quick-start-example" | prepend: site.baseurl }}" class="nav-link">Quick start example</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-grid-options" | prepend: site.baseurl }}" class="nav-link">Grid options</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-data-grid" | prepend: site.baseurl }}" class="nav-link">Data grid</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-variables" | prepend: site.baseurl }}" class="nav-link">Variables</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ "/layout/#grid-predefined-classes" | prepend: site.baseurl }}" class="nav-link">Predefined classes</a>
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="{{ "/layout/#grid-example-stacked-to-horizontal" | prepend: site.baseurl }}" class="av-link">Example: Stacked to horizontal</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-mobile-tablet-desktop" | prepend: site.baseurl }}" class="av-link">Example: Mobile, tablet, desktop</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-column-wrapping" | prepend: site.baseurl }}" class="av-link">Example: Column wrapping</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-offsetting-columns" | prepend: site.baseurl }}" class="av-link">Example: Offsetting columns</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-nesting-columns" | prepend: site.baseurl }}" class="av-link">Example: Nesting columns</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-column-ordering" | prepend: site.baseurl }}" class="av-link">Example: Column ordering</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-horizontal-alignment" | prepend: site.baseurl }}" class="av-link">Example: Horizontal alignment</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-vertical-alignment-for-parent" | prepend: site.baseurl }}" class="av-link">Example: Vertical alignment for parent</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-vertical-alignment-for-children" | prepend: site.baseurl }}" class="av-link">Example: Vertical alignment for children</a>
                                    </li>
                                    <li class="av-item">
                                        <a href="{{ "/layout/#grid-example-distribution" | prepend: site.baseurl }}" class="av-link">Example: Distribution</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidenav for layout page layout end -->
        </div>
        <div class="col-xs-9" style="max-width: 75%;">
            {{ content }}
        </div>
    </div>
</div>