---
layout: default
---


<div class="e-container">
    <div class="e-row">
        <div class="e-col-xs-3">
            <!-- Sidenav for layout page layout start -->
            <div class="e-sidenavWrap">
                <div class="e-sidenav e-sidenav-left">
                    <ul class="e-nav">
                        <li class="e-nav-item">
                            <a href="{{ "#" | prepend: site.baseurl }}" class="e-nav-link disabled">Grid</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidenav for layout page layout end -->
        </div>
        <div class="e-col-xs-9">
            {{ content }}
        </div>
    </div>
</div>