<section id="links">
    <header>
        <h1>Links</h1>
        <p>A general description of the links</p>
    </header>
    <article>
        <!-- Links start -->
        <h2>Example</h2>
        <div class="e-example-block">
            <div class="e-row">
                <div class="e-col-sm-12">
                    {% include_relative links/link.html %}
                </div>
            </div>
        </div>

        {% highlight html %}{% include_relative links/link.html %}{% endhighlight %}
        <!-- Links end -->
    </article>
</section>