
@import
    "partial/variables",
    "partial/mixins",
    "partial/fonts",
    "partial/general",
    "partial/animations",
    "partial/utilities",
    "partial/links",
    "partial/headers",
    "partial/inputs",
    "partial/forms",
    "partial/buttons",
    "partial/labels",
    "partial/nav",
    "partial/navbar",
    "partial/grid",
    "partial/images",
    "partial/breadcrumb"
;
